MyGrammarParser.py
*Interpreter.py
*Lexer.py
*Listener.py
*.Listener.py
*.tokens
*.interp
*.java
visualisation/
.antlr/
__pycache__/
MyGrammar.g4
output.txt
.venv/*
!DetailedParseListener.py
TestGrammar.g4
parseTree_*.json
Simpleton/.antlr/*
Simpleton/__pycache__/*
Simpleton/*.py
Simpleton/*.tokens
Simpleton/*.interp
Simpleton/*.java
Simpleton/*.dot
*.png
*.dot