MyGrammarParser.py
*Interpreter.py
*Listener.py
*.Listener.py
*.tokens
*.interp
*.java
visualisation/
.antlr/
__pycache__/
.idea
MyGrammar.g4
output.txt
.venv/*
!DetailedParseListener.py
TestGrammar.g4
parseTree_*.json
Samples/Simpleton/.antlr/*
Samples/Simpleton/__pycache__/*
Samples/Simpleton/*.py
Regest/*.py
Samples/Simpleton/*.tokens
Samples/Simpleton/*.interp
Samples/Simpleton/*.java
Samples/Simpleton/*.dot
Regest/*Parser.py
*.png
*.dot
/venv
test_remaining.py
